<!DOCTYPE html>

<title>ReservationVelo index</title>

{% block body %}
    <h1>ReservationVelo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdReservation</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Nbr</th>
                <th>Prixr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_velo in reservation_velos %}
            <tr>
                <td>{{ reservation_velo.idReservation }}</td>
                <td>{{ reservation_velo.dateDebut ? reservation_velo.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation_velo.dateFin ? reservation_velo.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation_velo.nbr }}</td>
                <td>{{ reservation_velo.prixr }}</td>
                <td>
                    <a href="{{ path('app_reservation_velo_show', {'idReservation': reservation_velo.idReservation}) }}">show</a>
                    <a href="{{ path('app_reservation_velo_edit', {'idReservation': reservation_velo.idReservation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_velo_new') }}">Create new</a>
{% endblock %}
