<!DOCTYPE html>

<title>ReservationVelo</title>

{% block body %}
    <h1>ReservationVelo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReservation</th>
                <td>{{ reservation_velo.idReservation }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ reservation_velo.dateDebut ? reservation_velo.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ reservation_velo.dateFin ? reservation_velo.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nbr</th>
                <td>{{ reservation_velo.nbr }}</td>
            </tr>
            <tr>
                <th>Prixr</th>
                <td>{{ reservation_velo.prixr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_velo_index') }}">back to list</a>

    <a href="{{ path('app_reservation_velo_edit', {'idReservation': reservation_velo.idReservation}) }}">edit</a>

    {{ include('reservation_velo/_delete_form.html.twig') }}
{% endblock %}
