{% extends 'reservation/stationb.html.twig' %}
{% block title %}ajouter station{% endblock %}
{% block body %}
<div class="container"><br>
<button type="button" class="btn btn-primary"><a style="color:white;" href="{{ path('app_stationb') }}"> retour</a></button>
<div align="CENTER">
<br><br>
<h1> Ajouter Station</h1>
<div>


{{ form_start(formA,{'attr': {'novalidate': 'novalidate'}}) }}

<fieldset>
    <legend>Informations sur la station</legend>
    <table>
    <tr>
        <td>{{ form_label(formA.nomStation, "Nom de la station") }}</td>
       <td>{{ form_widget(formA.nomStation) }}
        {{ form_errors(formA.nomStation) }}</td>
    </tr>
<tr>
    <td>{{ form_label(formA.localisationStation, "Ville") }}</td>
    <td>{{ form_widget(formA.localisationStation, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(formA.localisationStation) }}</td>
</tr>

    <tr>
        <td>{{ form_label(formA.veloStation, "Nombre de vélos") }}</td>
        <td>{{ form_widget(formA.veloStation) }}
        {{ form_errors(formA.veloStation) }}</td>
    </tr>
    </table>
</fieldset>
<br><br><br>
<div>
    <button class="btn btn-primary" type="submit">{{button_label|default('Ajouter')}}</button>
</div>

{{ form_end(formA) }}

</div>
</div>
</div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>
{% endblock %}
  



