 <h1> Ajouter un étudiant </h1> 

{{ form_start(formA,{'attr': {'novalidate': 'novalidate'}}) }}  
<tr>
  <td>  {{ form_label(formA.Email,"Your Email")}}  </td>
  <td>  {{ form_errors(formA.Email) }} </td>
  <td> {{ form_widget(formA.Email)}}   </td>
</tr>

<tr>
 
  <td>  {{ form_row(formA.NSC)}}   </td>
</tr>
 {{ form_row(formA.save, { 'label': 'Submit me' }) }}
 {{ form_end(formA) }}