{% extends 'main/base-back.html.twig' %}
{% block title %}mes reservation{% endblock %}

{% block nav %}<!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">

      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{{ path('app_dashboard') }}" class="app-brand-link">
              <img src="{{asset('back-office/assets/img/logo.png')}}" width="50">
              <span class="app-brand-text demo menu-text fw-bolder ms-2">EcoBikeGo</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="{{ path('app_dashboard') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>



            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Pages</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div >Gestion User</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_profileb') }}" class="menu-link">
                    <div data-i18n="Account">Accounts</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-account-settings-notifications.html" class="menu-link">
                    <div data-i18n="Notifications">Notifications</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-account-settings-connections.html" class="menu-link">
                    <div data-i18n="Connections">Connections</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item active open">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Authentications">Gestion Stations</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item active">
                  <a href="{{ path('app_reservationb') }}" class="menu-link" >
                    <div data-i18n="Basic">Mes reservations</div>
                  </a>
                </li>
                <li class="menu-item ">
                  <a href="{{ path('app_stationb') }}" class="menu-link" >
                    <div data-i18n="Basic">Mes Stations</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Misc">Gestion Vélos</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_velob') }}" class="menu-link">
                    <div data-i18n="Error">liste de velos</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-misc-under-maintenance.html" class="menu-link">
                    <div data-i18n="Under Maintenance">Under Maintenance</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Extended components -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-copy"></i>
                <div data-i18n="Extended UI">Gestion Evénements</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_evenementb') }}" class="menu-link">
                    <div data-i18n="Perfect Scrollbar">nos evenements</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="extended-ui-text-divider.html" class="menu-link">
                    <div data-i18n="Text Divider">Text Divider</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Elements">Gestion Réclamations</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_reclamationb') }}" class="menu-link">
                    <div data-i18n="Basic Inputs">liste des reclamations</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="forms-input-groups.html" class="menu-link">
                    <div data-i18n="Input groups">Input groups</div>
                  </a>
                </li>
              </ul>
            </li>
          <div class="border py-4 px-4 mb-2 rounded-md shadow-sm border-gray-100"><div class="flex items-center justify-between">
        <h5>Filtre Avancé</h5><br>

          </div>
          <button class="btn btn-outline-danger" style="font-size:13px;">Réinitialiser le filtre</button>
          
          <input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice">
<label for="ice-cream-choice">Choose a flavor:</label>

<datalist id="ice-cream-flavors">
    <option value="Chocolate">
    <option value="Coconut">
    <option value="Mint">
    <option value="Strawberry">
    <option value="Vanilla">
</datalist>
          </div>
          </ul>



        </aside>

        <!-- / Menu -->{% endblock %}
{% block body %}
<div class="container" >
<br>
<div class="row">

<div class="col-7"></div></div>
        <div class="row">
    
    <table class="table table-striped  table-bordered" style="background-color: #e3eeed;">
        <thead  style="background-color: #abdbe3;">
        <tr>
                <th colspan="4">reservation:</th>
                <th colspan="2">station:</th>
                
                <th colspan="2">client:</th>

                <th colspan="2">velo:</th>
            </tr>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Prixr</th>
                <th>Nbr</th>

                <th>nom station</th>
                <th>Ville</th>
                
                <th>nom/prenom</th>
                <th>email</th>

                <th>nom</th>
                <th>catégorie</th>
            </tr>
        </thead>
        <tbody><script>var x=0;</script>
            {% for k in liss %}
            <tr>
                <td>{{ k.getDateDebut()|date('d-m-Y / H:i:s') }}</td>
                <td>{{ k.getDateFin()|date('d-m-Y / H:i:s') }}</td>
                <td>{{ k.getPrixr() }}</td>
                <td>{{ k.getNbr() }}</td>
                <td>{{ k.getIdStation().nomStation }}</td>
                <td>{{ k.getIdStation().localisationStation }}</td>
                <td>{{ k.getIdUser().nomuser}}/{{ k.getIdUser().prenomuser }}</td>
                <td>{{ k.getIdUser().email }}</td>
                <td>{{ k.getIdVelo().titre }}</td>
                <td>{{ k.getIdVelo().getCategorie().getNomCategorie() }}</td>
            </tr>
            <script>x+={{ k.getNbr() * k.getPrixr() }};</script>
            {% endfor %}
            
            <tr><td colspan="7" style="background-color: red;"></td><td colspan="2" style="background-color: red;"><div id="a">Initial text</div></td><td></td></tr>
        </tbody>
    </table>
    </div>
    <script>document.getElementById("a").innerHTML = "Total: " + x + " TND";</script>
</div>
{% endblock %}
