{% extends 'main/base-back.html.twig' %}

{% block title %}Mes stations{% endblock %}

{% block nav %}<!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">

      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{{ path('app_dashboard') }}" class="app-brand-link">
              <img src="{{asset('back-office/assets/img/logo.png')}}" width="50">
              <span class="app-brand-text demo menu-text fw-bolder ms-2">EcoBikeGo</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="{{ path('app_dashboard') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>



            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Pages</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div >Gestion User</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_aziz_index') }}" class="menu-link">
                    <div data-i18n="Account">Accounts</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item active open">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Authentications">Gestion Stations</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_reservationb') }}" class="menu-link" >
                    <div data-i18n="Basic">Mes reservations</div>
                  </a>
                </li>
                <li class="menu-item active">
                  <a href="{{ path('app_stationb') }}" class="menu-link" >
                    <div data-i18n="Basic">Mes Stations</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Misc">Gestion Vélos</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_velo_index')}}" class="menu-link">
                    <div data-i18n="Error">liste de velos</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{{ path('app_categorie_index') }}" class="menu-link">
                    <div data-i18n="Under Maintenance">categorie</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Extended components -->
            <li class="menu-item">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-copy"></i>
                <div data-i18n="Extended UI">Gestion Evénements</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a  href="{{ path('app_event_index') }}" class="menu-link">
                    <div data-i18n="Perfect Scrollbar">Evenements</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a  href="{{ path('app_reserv_index') }}" class="menu-link">
                    <div data-i18n="Text Divider">Resrvation Evenements</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Elements">Gestion Réclamations</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ path('app_rim_index') }}" class="menu-link">
                    <div data-i18n="Basic Inputs">types des reclamations</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{{ path('app_rim3_index') }}" class="menu-link">
                    <div data-i18n="Input groups">liste de reclamation</div>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </aside>
        <!-- / Menu -->{% endblock %}
{% block body %}

<div class="container">
<br><br>
    <h3>Nos Stations</h3>
    <br>
 <button class="btn btn-primary"><a href="{{ path('app_addstation') }}" style="color:white;">ajouter une nouvelle station</a></button>
    <div style="background-color: #bd300d; color: white; padding: 0px;">
    {{ wael }}
    </div>

    <div style="background-color: #4CAF50; color: white; padding: 0px;">
{{ siwael }}
    </div>
    <br>
    
    <table class="table  table-bordered table-striped" style="background-color: #e3eeed;">
        <thead  style="background-color: #8e90ff;">
            <tr>
                <th colspan="2">Paramétre</th>
                <th>nom de station</th>
                <th>localisation de station</th>
                <th>velos disponibles</th>
            </tr>
        </thead>
        {% for k in liss %}
        <tr>
        <td>
             <form method="POST" action="{{ path('app_modstation', {'id': k.getIdStation()}) }}"><button class="btn btn-outline-success">modifier</button></form></td>
                <td><form method="POST" action="{{ path('app_delstation', {'id': k.getIdStation()}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette station ?')">
                <button class="btn btn-outline-danger">supprimer</button>
                </form>
            </td>
            <td>{{ k.getNomStation() }}</td>
            <td>{{ k.getLocalisationStation() }}</td>
            <td>{{ k.getVeloStation() }}</td>
        </tr>
        {% endfor %}
    </table>
   
</div>

{% endblock %}

