{% extends 'main/base-front.html.twig' %}

{% block title %}nos stations{% endblock %}

{% block nav %}<ul class="nav">
                        <li><a href="{{ path('app_accueil') }}" >Accueil </a></li>
                        <li><a href="{{ path('app_velo') }}">Nos velos</a></li>
                        <li><a href="{{ path('app_station') }}" class="active">Nos stations</a></li>
                        <li><a href="{{ path('app_evenement') }}">Evenements</a></li>
                        <li><a href="{{ path('app_reclamation') }}" >Reclamation</a></li>
                        <li><details ><summary><a >Profile <img src="front-office/assets/images/profile-header.jpg" alt=""></a></summary>
                        <a  href="{{ path('app_profile') }}" class="link-unstyled">mon profile</a><a href="{{ path('app_login') }}" class="link-unstyled">deconnexion</a> 
                        </details>
                        </li>
                    </ul>{% endblock %}

{% block body %}<h4>Nos Stations </h1><br>
Découvrez notre gamme de produits de qualité supérieure qui répondent à tous vos besoins.<br><br>
<table class="table table-striped table-dark">
    <tr>
        <th>nom de station</th>
        <th>localisation de station</th>
        <th>velos disponibles</th>
        <th>reserver maintenants</th>
    </tr>
    {%for k in liss %}
    <tr>
        <td>{{k.getNomStation() }}</td>
        <td>{{k.getLocalisationStation()}}</td>
        <td>{{k.getvelo()}}</td>
        <td>
                <button class="btn btn-outline-success">reserver</button></form></td>
    </tr>
    {%endfor%}

</table>
<br><br><br>
<div>EcoBikeGo vous offre la possibilité de vivre <b>des expériences</b> et <b>des aventures uniques</b> dans une atmosphère insulaire unique.<br>

Nous offrons des services de <b>location de vélos gratuits</b> pour tous les adultes ou les enfants.<br>
 Que vous soyez une personne ou un groupe, nous vous apportons <b>nos conseils</b> et <b>notre expertise</b>, et mettons à votre disposition tous nos équipements et accessoires.<br>

Les réservations sont fortement <b>recommandées</b>, surtout pour les weekends et les grands groupes de plus de 10 personnes.</assetdivs>

{% endblock %}