<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EcoBikeGo-{% block title %}Accueil{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{asset('back-office/img/favicon.png')}}" rel="icon">
  <link href="{{asset('back-office/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{asset('back-office/libraries/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('back-office/libraries/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('back-office/libraries/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('back-office/libraries/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('back-office/libraries/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('back-office/libraries/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('back-office/css/style.css')}}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo"><a href="{{asset('back-office/index.html')}}">Esprit</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{asset('back-office/index.html')}}">Accueil</a></li>
          <li><a href="{{asset('back-office/about.html')}}">Gestion User</a></li>
          <li><a href="{{asset('back-office/resume.html')}}">Gestion Stations et reservations</a></li>
          <li><a href="{{asset('back-office/services.html')}}">Gestion Vélos</a></li>
          <li><a href="{{asset('back-office/portfolio.html')}}">Gestion Evénements</a></li>
          <li><a href="{{asset('back-office/contact.html')}}">Gestion Réclamations</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div>Ahmad mohsen <img src="{{asset('back-office/img/testimonials/testimonials-5.jpg')}}" width="50" alt=""></div>

    </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    {% block body %}
      <h1>Esprit</h1>
      <a href="{{asset('about.html')}}" class="btn-about">About Me</a>
      {% endblock %}
    </div>
  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Esprit</span></strong>. All Rights Reserved
      </div>

      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="{{asset('#')}}" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Libraries JS Files -->
  <script src="{{asset('back-office/libraries/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/php-email-form/validate.js')}}"></script>
  <script src="{{asset('back-office/libraries/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/counterup/counterup.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('back-office/libraries/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('back-office/js/main.js')}}"></script>

</body>

</html>