{% extends 'main/base-back.html.twig' %}

{% block title %}Velo index{% endblock %}

{% block body %}
<br>
<div class="container">
<input type="text" id="filter-name" name="name" class="form-control" placeholder="Filter by name">

    <h1>Velo index</h1>
<br>
    <table class="table table-striped table-dark" id="customers-table">
        <thead>
            <tr>
                <th>IdVelo</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Qte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for velo in velos %}
            <tr data-name="{{ velo.titre }}">
                <td>{{ velo.idVelo }}</td>
                <td>{{ velo.titre }}</td>
                <td>{{ velo.prix }}</td>
                <td><img src="{{ asset('tsawir/velo/'~velo.image) }}" alt="{{ velo.titre }}" width="70"></td>
                <td>{{ velo.qte }}</td>
                <td>
                    <a href="{{ path('app_velo_show', {'idVelo': velo.idVelo}) }}">show</a>---
                    <a href="{{ path('app_sahar_edit', {'idVelo': velo.idVelo}) }}">edit</a>---
                     <a href="{{ path('app_velo_generate_word_file', {'idVelo': velo.idVelo}) }}">exporter en Word</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_velo_new') }}">Create new</a></div>
       <script>
       const filterInput = document.querySelector('#filter-name');
const tableRows = document.querySelectorAll('#customers-table tbody tr');

filterInput.addEventListener('keyup', () => {
  const filterValue = filterInput.value.toLowerCase();
  tableRows.forEach(row => {
    const name = row.getAttribute('data-name').toLowerCase();
    if (name.indexOf(filterValue) > -1) {
      row.style.display = '';
    } else {
      row.style.display = 'none';
    }
  });
});
</script>
   
{% endblock %}
