{{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'class': 'form-class'}) }}
    <div class="form-group">
        {{ form_label(form.titre, 'Title', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prix, 'Price', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, 'Image', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.qte, 'Quantity', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.qte, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.idStation, 'Station', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.idStation, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.idCategorie, 'Category', {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.idCategorie, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
