{% extends 'base.html.twig' %}

{% block title %}Velo index{% endblock %}

{% block body %}
    <h1>Velo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdVelo</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Qte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for velo in velos %}
            <tr>
                <td>{{ velo.idVelo }}</td>
                <td>{{ velo.titre }}</td>
                <td>{{ velo.prix }}</td>
                <td>{{ velo.image }}</td>
                <td>{{ velo.qte }}</td>
                <td>
                    <a href="{{ path('app_sahar_show', {'idVelo': velo.idVelo}) }}">show</a>
                    <a href="{{ path('app_sahar_edit', {'idVelo': velo.idVelo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sahar_new') }}">Create new</a>
{% endblock %}
