{% extends 'main/base-front.html.twig' %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
     
                <th>Nomuser</th>
                <th>Prenomuser</th>

                <th>Numtel</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Imguser</th>
                <th>Mdp</th>
                <th>Etatcompte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
                 {% if user.iduser == "52" %}
            <tr>

                <td>{{ user.nomuser }}</td>
                <td>{{ user.prenomuser }}</td>
                
                <td>{{ user.numtel }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.adresse }}</td>
                <td><img src="{{ asset('tsawir/velo/' ~  user.imguser) }}" alt="{{ user.nomuser }}" width="200" style="max-width: 100%; "></td>
                <td>{{ user.mdp }}</td>
                <td>{{ user.etatcompte }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'iduser': user.iduser}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'iduser': user.iduser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>

            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
